html, body {
	font: 11px Arial, Helvetica, sans-serif;
	background: url(images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
img {
	border: none;
}
.text-js{
	opacity: 0;
}
.espace{
	margin-top:40px;
}
.cursor{
	display: block;
	position: absolute;
	height: 60%;
	top: 15%;
	right: -5px;
	width: 2px;
	background-color: white;
	z-index: 1;
	animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
.intro, .endgame{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #000000;
	z-index: 99999;
	padding-top: 20%;
}
.startgame{
	position: absolute;
	top: 66%;
	left: 42%;
	width: 16%;
	height: 5%;
	font-size: 2.1em;
	background-color: orange;
	font-weight: bold;
	border-radius: 30px;
	border: none;
}

/* // Rest of CSS (Purely for this pen) */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
	font-family: "Open Sans", sans-serif;
}
/* // Text Can be styled just like normal */
.headline{
	margin: 20px;
	color: white;
	/* font-size: 32px; */
	text-align: center;
	color: #ffffff;
}
.text-js{
	color: #dddddd;
	font-size: 3em;
}
.element8{
	position: absolute;
	top: 24%;
	left: 31%;
	width: 7%;
	height: 13.7%;
}
.googletranslate{
	position: absolute;
	top: 7%;
	left: 0;
	width: 100%;
	height: 93%;
	z-index: 2;
	border: none;
	display: none;
}
.safari-container{
	display: none;
}

.safari_accueil{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.cam {
	position: absolute;
	top: 1%;
	left: -0.8%;
	height: 97.9%;
	width: 88.3%;
	overflow: hidden;
	border-radius: 5px;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.safari1{
	position: absolute;
	top: 11.5%;
	left: 21.5%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari2{
	position: absolute;
	top: 11.5%;
	left: 32%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari3{
	position: absolute;
	top: 11.5%;
	left: 42.3%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari4{
	position: absolute;
	top: 11.5%;
	left: 52.4%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari5{
	position: absolute;
	top: 11.5%;
	left: 62.6%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari6{
	position: absolute;
	top: 11.5%;
	left: 72.9%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari7{
	position: absolute;
	top: 24.3%;
	left: 21.5%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari8{
	position: absolute;
	top: 24.3%;
	left: 32%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari9{
	position: absolute;
	top: 24.3%;
	left: 42.3%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari10{
	position: absolute;
	top: 24.3%;
	left: 52.4%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari11{
	position: absolute;
	top: 24.3%;
	left: 62.6%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari12{
	position: absolute;
	top: 24.3%;
	left: 72.9%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari13{
	position: absolute;
	top: 44.1%;
	left: 21.5%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari14{
	position: absolute;
	top: 44.1%;
	left: 32%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari15{
	position: absolute;
	top: 44.1%;
	left: 42.3%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari16{
	position: absolute;
	top: 44.1%;
	left: 52.4%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari17{
	position: absolute;
	top: 44.1%;
	left: 62.6%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari18{
	position: absolute;
	top: 44.1%;
	left: 72.9%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari19{
	position: absolute;
	top: 57.8%;
	left: 21.5%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari20{
	position: absolute;
	top: 57.8%;
	left: 32%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari21{
	position: absolute;
	top: 57.8%;
	left: 42.3%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.safari22{
	position: absolute;
	top: 57.8%;
	left: 52.4%;
	width: 5.5%;
	height: 11%;
	z-index: 9;
}
.contact1{
	position: absolute;
	top: 10.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact2{
	position: absolute;
	top: 13.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact3{
	position: absolute;
	top: 16.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact4{
	position: absolute;
	top: 19.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact5{
	position: absolute;
	top: 22.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact6{
	position: absolute;
	top: 25.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact7{
	position: absolute;
	top: 28.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact8{
	position: absolute;
	top: 31.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact9{
	position: absolute;
	top: 34.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact10{
	position: absolute;
	top: 37.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact11{
	position: absolute;
	top: 40.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact12{
	position: absolute;
	top: 43.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact13{
	position: absolute;
	top: 46.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact14{
	position: absolute;
	top: 49.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact15{
	position: absolute;
	top: 52.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact16{
	position: absolute;
	top: 55.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact17{
	position: absolute;
	top: 58.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact18{
	position: absolute;
	top: 61.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact19{
	position: absolute;
	top: 64.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact20{
	position: absolute;
	top: 67.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact21{
	position: absolute;
	top: 70.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact22{
	position: absolute;
	top: 73.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact23{
	position: absolute;
	top: 76.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact24{
	position: absolute;
	top: 79.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact25{
	position: absolute;
	top: 82.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact26{
	position: absolute;
	top: 85.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.contact27{
	position: absolute;
	top: 88.5%;
	left: 0.2%;
	width: 31.4%;
	height: 2.9%;
	font-size: 1.1em;
	background-color: #535e67;
	border-bottom: 1px solid #63696b;
	z-index: 99999;
}
.mail-container{
	position: absolute;
	top: 2%;
	left: 0%;
	width: 100%;
	height: 99%;
	display: none;
}
.contenumessage{
	position: absolute;
	top: 13.5%;
	left: 37.7%;
	width: 41.2%;
	height: 61.6%;
	padding: 15px 15px 15px 15px;
	display: none;
	overflow: auto;
}
.contenumail{
	position: absolute;
	top: 20%;
	left: 38.55%;
	width: 59.5%;
	height: 67.6%;
	padding: 15px 15px 15px 15px;
	border-radius: 0px 0px 8px 0px;
	background-color: #ffffff;
	overflow: auto;
}
.contenucontact{
	position: absolute;
	top: 1%;
	left: 33%;
	width: 61%;
	height: 85%;
	z-index: 99;
}
.msg{
	font-size: 1.2em;
	font-weight: bold;
	color: #ffffff;
}
.messageenvoye{
	position: relative;
	top: 3px;
	margin-bottom: 8px;
	margin-left: 250px;
	float: right;
	min-width: 43;
	min-height: 70;
	max-width: 350px;
	border-radius: 13px;
	text-align: right;
	background-color: #0364d5;
	color: #ffffff;
	font-size: 1.4em;
	display: block;
	padding: 4px 8px 6px 8px;
}
.messagerecu{
	position: relative;
	top: 3px;
	margin-bottom: 8px;
	margin-right: 250px;
	float: left;
	min-width: 43px;
	min-height: 10px;
	max-width: 350px;
	border-radius: 13px;
	background-color: #565554;
	color: #ffffff;
	font-size: 1.4em;
	display: block;
	padding: 4px 8px 6px 8px;
}
.mail{
	position: absolute;
	top: 0.48%;
	left: 0%;
	width: 100%;
	box-shadow: 4px 4px 4px 4px rgba(50, 50, 50, .1);
}
.buttonmail{
	position: absolute;
	top: 0.7%;
	left: 0.2%;
	width: 4.5%;
	height: 2.3%;
}
.message1{
	position: absolute;
	top: 13.2%;
	left: 19%;
	width: 18.65%;
	height: 7.9%;
	background-color: #0068e1;
	border-bottom: 1px solid #63696b;
}
.message2{
	position: absolute;
	top: 21.2%;
	left: 19%;
	width: 18.65%;
	height: 7.9%;
	background-color: #353f4a;
	border-bottom: 1px solid #63696b;
}
.message3{
	position: absolute;
	top: 29.2%;
	left: 19%;
	width: 18.65%;
	height: 7.9%;
	background-color: #353f4a;
	border-bottom: 1px solid #63696b;
}
.message4{
	position: absolute;
	top: 37.2%;
	left: 19%;
	width: 18.65%;
	height: 7.9%;
	background-color: #353f4a;
	border-bottom: 1px solid #63696b;
}
.message5{
	position: absolute;
	top: 45.2%;
	left: 19%;
	width: 18.65%;
	height: 7.9%;
	background-color: #353f4a;
	border-bottom: 1px solid #63696b;
}
.message6{
	position: absolute;
	top: 53.2%;
	left: 19%;
	width: 18.65%;
	height: 7.9%;
	background-color: #353f4a;
	border-bottom: 1px solid #63696b;
}
.message7{
	position: absolute;
	top: 61.2%;
	left: 19%;
	width: 18.65%;
	height: 7.9%;
	background-color: #353f4a;
	border-bottom: 1px solid #63696b;
}
.message8{
	position: absolute;
	top: 69.2%;
	left: 19%;
	width: 18.65%;
	height: 7.9%;
	background-color: #353f4a;
	border-bottom: 1px solid #63696b;
}
.message9{
	position: absolute;
	top: 77.2%;
	left: 19%;
	width: 18.65%;
	height: 5.8%;
	background-color: #353f4a;
	border-bottom: 1px solid #63696b;
}
.message10{
	position: absolute;
	top: 82.7%;
	left: 19%;
	width: 18.65%;
	height: 4.1%;
	background-color: #353f4a;
	display: none;
}
.image_mail{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}
.mail{
	color: #ffffff;
	font-weight: bold;
	font-size: 1.2em;
}
.mail1{
	position: absolute;
	top: 11.9%;
	left: 14%;
	width: 24.45%;
	height: 7.95%;
	background-color: #222628;
	border-bottom: 1px solid #393b3d;
}
.mail2{
	position: absolute;
	top: 20%;
	left: 14%;
	width: 24.45%;
	height: 7.95%;
	background-color: #222628;
	border-bottom: 1px solid #393b3d;
}
.mail3{
	position: absolute;
	top: 28.1%;
	left: 14%;
	width: 24.45%;
	height: 7.95%;
	background-color: #222628;
	border-bottom: 1px solid #393b3d;
}
.mail4{
	position: absolute;
	top: 36.2%;
	left: 14%;
	width: 24.45%;
	height: 7.95%;
	background-color: #222628;
	border-bottom: 1px solid #393b3d;
}
.mail5{
	position: absolute;
	top: 44.3%;
	left: 14%;
	width: 24.45%;
	height: 7.95%;
	background-color: #222628;
	border-bottom: 1px solid #393b3d;
}
.mail6{
	position: absolute;
	top: 52.4%;
	left: 14%;
	width: 24.45%;
	height: 7.95%;
	background-color: #222628;
	border-bottom: 1px solid #393b3d;
}
.mail7{
	position: absolute;
	top: 60.5%;
	left: 14%;
	width: 24.45%;
	height: 7.95%;
	background-color: #222628;
	border-bottom: 1px solid #393b3d;
}
.mail8{
	position: absolute;
	top: 68.6%;
	left: 14%;
	width: 24.45%;
	height: 7.95%;
	background-color: #222628;
	border-bottom: 1px solid #393b3d;
}
.mail9{
	position: absolute;
	top: 76.7%;
	left: 14%;
	width: 24.45%;
	height: 7.95%;
	background-color: #222628;
	border-bottom: 1px solid #393b3d;
}
.mail10{
	position: absolute;
	top: 84.8%;
	left: 14%;
	width: 24.45%;
	height: 6.09%;
	background-color: #222628;
}
.message-container{
	position: absolute;
	top: 2%;
	left: 0%;
	width: 100%;
	height: 99%;
	display: none;
}
.message{
	position: absolute;
	top: 7%;
	left: 19%;
	width: 62%;
	box-shadow: 4px 4px 4px 4px rgba(50, 50, 50, .1);
}
.buttonmessage{
	position: absolute;
	top: 7%;
	left: 19.14%;
	width: 4.5%;
	height: 2.3%;
}
.facetime-container{
	position: absolute;
	top: 8%;
	left: 24%;
	width: 60%;
	height: 80%;
	display: none;
}
.photos-container{
	display: none;
}
.photos_accueil{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.calendrier-container{
	position: absolute;
	top: 12%;
	left: 17%;
	width: 65%;
	height: 80%;
	display: none;
}
.calendrier_accueil{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.contact-container{
	position: absolute;
	top: 11%;
	left: 24%;
	width: 50%;
	height: 80%;
	display: none;
}
.contact_accueil{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.closefb {
	position: absolute;
	top: 1.48%;
	left: -0.1%;
	width: 2.02%;
	display: none;
}
.reducefb {
	position: absolute;
	top: 1.43%;
	left: 2.4%;
	width: 2.02%;
	display: none;
}
.extendfb {
	position: absolute;
	top: 1.6%;
	left: 4.97%;
	width: 2.02%;
	display: none;
}
.closesafari {
	position: absolute;
	top: 3.45%;
	left: 0.67%;
	width: 1.3%;
	display: none;
	z-index: 999;
}
.reducesafari {
	position: absolute;
	top: 3.4%;
	left: 2.05%;
	width: 1.3%;
	display: none;
	z-index: 999;
}
.extendsafari {
	position: absolute;
	top: 3.6%;
	left: 3.45%;
	width: 1.3%;
	display: none;
	z-index: 999;
}
.buttonsafari{
	position: absolute;
	top: 3.3%;
	left: 0.4%;
	width: 4.7%;
	height: 2.9%;
	opacity: 0.6;
	z-index: 9999;
}
.closemessage {
	position: absolute;
	top: 7.14%;
	left: 19.3%;
	width: 1.3%;
	display: none;
}
.reducemessage {
	position: absolute;
	top: 7.2%;
	left: 20.68%;
	width: 1.27%;
	display: none;
}
.extendmessage {
	position: absolute;
	top: 7.24%;
	left: 22.06%;
	width: 1.3%;
	display: none;
}
.closemail {
	position: absolute;
	top: 0.75%;
	left: 0.34%;
	width: 1.3%;
	display: none;
}
.reducemail {
	position: absolute;
	top: 0.8%;
	left: 1.7%;
	width: 1.3%;
	display: none;
}
.extendmail {
	position: absolute;
	top: 0.85%;
	left: 3.1%;
	width: 1.3%;
	display: none;
}
.facetime{
	position: absolute;
	top: 0.9%;
	left: -0.9%;
	height: 98%;
	box-shadow: 4px 4px 4px 4px rgba(50, 50, 50, .1);
	opacity: 0.9;
	z-index: 9999;
}
.buttonfacetime{
	position: absolute;
	top: 1%;
	left: -0.2%;
	width: 7.5%;
	height: 3.3%;
	opacity: 0.6;
	z-index: 9999;
}
#dock2 {
	width: 100%;
	bottom: 8%;
	position: absolute;
	left: 0px;
	padding-left: 10px;
	z-index: 9999;
}
.dock-container2 {
	position: absolute;
	height: 79px;
	background: url(images/dock-bg2.png);
	border: solid 1px #666666;
	padding-left: 32px;
	border-radius: 4px;
}
a.dock-item2 {
	display: block; 
	font: 14px Arial, Helvetica, sans-serif;
	width: 40px; 
	color: #000; 
	bottom: 0px; 
	position: absolute;
	margin-left: 30px;
	text-align: center;
	text-decoration: none;
}
.dock-item2 span {
	display: none;
	margin-left: -35px;
	color: #eeeeee;
}
.dock-item2 img {
	float: right;
	border: none; 
	margin: 10px 10px 16px; 
	width: 120%; 
	border: 50px;
}

#camera, #camera--view, #camera--sensor, #camera--output{
	position: absolute;
	top: -20%;
	left: -50%;
	height: 140%;
	z-index: 1;
}

#camera--view, #camera--sensor, #camera--output{
	transform: scaleX(-1);
	filter: FlipH;
}
